# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
#*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
#*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
.settings
/Fw/SDK_16/nRF_MDK_8_27_0_IAR_NordicLicense.msi
/Fw/SDK_16/examples
/Fw/SDK_16/external/lwip
/Fw/SDK_16/external/freertos
/Fw/SDK_16/nRF_MDK_8_27_0_Keil4_NordicLicense.msi
CMakeFiles
cmake_install.cmake
CMakeCache.txt
Makefile
.project
.cproject
*.bin
/Fw/bootloader/bootloader.hex
/Fw/config/settings.hex
/Fw/controller/controller.hex
